h1{
    background: #88498F;
    color: #BBDBD1;
}

body{
    background: #779fa1;
}

#tableFormat{
    border: solid;
    align-content: center
}

#tbodyFormat{
    border: solid;
}
.monthlyTotal {
    background: #E0DCDF;
    text-align: right;
}

.redOutBackground{
    background: #FF2E00;
    color: #A297A1;
}
