h1{
    background: #88498F;
    color: #BBDBD1;
}

body{
    background: #779fa1;
}
.monthlyTotal {
    background: #E0DCDF;
    align-content: right;
}

.redOutBackground{
    background: #FF2E00;
    color: #A297A1;
}
